<app-header></app-header>
<main class="landing-list">
  <div class="tab-container">
    <div class="tab">
      <button id="btn-venir" class="btn-left" (click)="activer('venir')">Actes médicaux à venir</button>
    </div>
    <div class="tab">
      <button id="btn-passes" class="btn-right" (click)="activer('passes')">Actes médicaux passés</button>
    </div>
  </div>
  <div id="venir" class="landing-container" [ngClass]="{'non-active': elementActif !== 'venir'}">
    <h1>Actes médicaux à venir</h1>
    <div class="table-wrapper" >
      <div *ngFor="let intervention of futureInterventions">
        <div class="card">
          <header class="card-header">
            <h1>{{ intervention.date | date : "dd/MM/yyyy" }}</h1>
          </header>

          <div class="card-content">
            <div class="card-item">
              <h2>Lieu</h2>
              <p>{{ intervention.hospital.address }}, {{ intervention.hospital.location.city }}</p>
            </div>
            <div class="card-item">
              <h2>Prestation</h2>
              <p>{{ intervention.invoice.intervention.title }}</p>
            </div>
            <div class="card-item">
              <h2>Statut</h2>
              <p *ngIf="intervention.confirmed">Confirmé</p>
              <p *ngIf="!intervention.confirmed">
                En attente de confirmation
              </p>
            </div>
          </div>

          <footer class="card-footer">
              <div *ngIf="!intervention.confirmed" class="confirmed">
                <button
                  class="btn"
                  role="button"
                  (click)="confirmIntervention(intervention.id)"
                >
                  <ng-icon name="heroCheck"></ng-icon>
                </button>
              </div>
            <div class="details">
              <button class="btn" [routerLink]="['/', 'detail', intervention.id]">
                Voir détails
              </button>
            </div>

          </footer>

        </div>
      </div>
    </div>
  </div>
  <div id="passes" class="landing-container non-active" [ngClass]="{'non-active': elementActif !== 'passes'}">
    <h1>Actes médicaux passés</h1>
    <div class="table-wrapper">
      <div *ngFor="let intervention of passedInterventions">
        <div class="card">
          <header class="card-header">
            <h1>{{ intervention.date | date : "dd/MM/yyyy" }}</h1>
          </header>

          <div class="card-content">
            <div class="card-item">
              <h2>Lieu</h2>
              <p>{{ intervention.hospital.address }}, {{ intervention.hospital.location.city }}</p>
            </div>
            <div class="card-item">
              <h2>Prestation</h2>
              <p>{{ intervention.invoice.intervention.title }}</p>
            </div>
            <div class="card-item">
              <h2>Statut</h2>
              <p *ngIf="intervention.invoice.paid">Payé</p>
              <p *ngIf="!intervention.invoice.paid">
                En attente de paiement
              </p>
            </div>
          </div>

          <footer class="card-footer">
              <div *ngIf="!intervention.invoice.paid" class="confirmed">
                <button
                  class="btn"
                  role="button"
                  (click)="payIntervention(intervention.id)"
                >
                  <ng-icon name="heroCreditCard"></ng-icon>
                </button>
              </div>
            <div class="details">
              <button class="btn" [routerLink]="['/', 'detail', intervention.id]">
                Voir détails
              </button>
            </div>

          </footer>

        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
