.landing-list {
  background: #60C7C7;
  background: linear-gradient(225deg, #60C7C7, #FAB4FF);
  min-height: calc(100vh - 128px - 96px - 39.5px);
  padding: 3rem 2rem;
  .tab-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    .tab {
      width: 50%;
      button {
        width: 100%;
        border: none;
        border-bottom: 2px solid #000000;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
        padding: 0.5rem 0;
        background-color: #FFFFFF;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        &:hover {
          background-color: #f7f7f9;
          cursor: pointer;
        }
      }
      .btn-left {
        border-radius: 5px 0 0 0;
        border-right: 0.5px solid #000000;
      }
      .btn-right {
        border-radius: 0 5px 0 0;
        border-left: 0.5px solid #000000;
      }
    }
  }
  .non-active {
    display: none !important;
  }
  .landing-container {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 1rem 2rem;
    border-radius: 0 0 5px 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    h1 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: #12557E;
      font-size: medium;
      padding: 1.4rem 0;
      text-align: center;
    }
  }
}

/* Table Styles */

.table-wrapper {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  resize:both;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Button style*/
.btn {
  background-color: rgb(255, 255, 255);
  border-width: 0.1rem;
  color: rgb(69, 65, 65);
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 2rem;
  height: 45.33px;

}
.btn:hover {
  background-color: #89e099;
}




// CARD

.card {
  width: 220px;
  min-width: fit-content;
  margin-top: 20px; // Ajoutez les marges souhaitées
  border-radius: 10px; // Bords arrondis
  box-shadow: 8px 4px 8px rgba(0, 0, 0, 0.1); // Ombre légère

  .card-header {
    color: #000; // Couleur du texte de l'en-tête
    border-bottom: #000;
    padding: 0.3rem; // Ajoutez les espacements souhaités

    h1 {
      margin: 0; // Supprime les marges par défaut
      padding: 0;
    }
  }

  .card-content {
    padding: 15px; // Ajoutez les espacements souhaités
    border-bottom: 1px solid #ddd; // Bordure en bas avec une couleur de séparation

    .card-item{
      display: flex;
      flex-direction: row;

      h2{
        font-size: small;
        margin-right: 0.5rem;
      }

      p{
        font-size: small;
      }
    }
  }

  .card-footer {
    border-top: #000000;
    color: #000; // Couleur du texte du pied de page
    padding: 10px; // Ajoutez les espacements souhaités

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    h5 {
      margin: 0; // Supprime les marges par défaut
    }

    .confirmed{
      display: flex;
      flex-direction: row;
    }
  }
}
