.landing-list {
  background: #60C7C7;
  background: linear-gradient(225deg, #60C7C7, #FAB4FF);
  min-height: calc(100vh - 128px - 96px - 39.5px);
  padding: 3rem 2rem;
  .tab-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    .tab {
      width: 50%;
      button {
        width: 100%;
        border: none;
        border-bottom: 2px solid #000000;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
        padding: 0.5rem 0;
        background-color: #FFFFFF;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        &:hover {
          background-color: #f7f7f9;
          cursor: pointer;
        }
      }
      .btn-left {
        border-radius: 5px 0 0 0;
        border-right: 0.5px solid #000000;
      }
      .btn-right {
        border-radius: 0 5px 0 0;
        border-left: 0.5px solid #000000;
      }
    }
  }
  .non-active {
    display: none !important;
  }
  .landing-container {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 1rem 2rem;
    border-radius: 0 0 5px 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    h1 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: #12557E;
      font-size: medium;
      padding: 1.4rem 0;
      text-align: center;
    }
  }
}

/* Table Styles */

.table-wrapper {
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px #00000033;
}

.fl-table {
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;  
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fl-table thead th {
  color: #ffffff;
  background: #439995;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #597e91;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fl-table tr:nth-child(even) {
  background: #f8f8f8;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
    display: block;
    width: 100%;
  }
  .table-wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }
  .fl-table thead,
  .fl-table tbody,
  .fl-table thead th {
    display: block;
  }
  .fl-table thead th:last-child {
    border-bottom: none;
  }
  .fl-table thead {
    float: left;
  }
  .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  .fl-table td,
  .fl-table th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
    display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
    background: none;
  }
  .fl-table tr:nth-child(even) {
    background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
    background: #f8f8f8;
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tr td:nth-child(even) {
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tbody td {
    display: block;
    text-align: center;
  }
}

/* Button style*/
.btn {
  background-color: rgb(255, 255, 255);
  border-width: 0.1rem;
  color: rgb(69, 65, 65);
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 2rem;
}
.btn:hover {
  background-color: #89e099;
}
