<app-header></app-header>

<div>
  <h1>Actes médicaux à venir</h1>
  <div class="table-wrapper">
    <table class="fl-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Lieu</th>
          <th>Nature de la prestation</th>
          <th>Etat</th>
          <th>Détails</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let intervention of futureInterventions">
          <th>{{ intervention.date | date : "dd/MM/yyyy" }}</th>
          <td>{{ intervention.hospital.address }}</td>
          <td>{{ intervention.invoice.intervention.title }}</td>
          <td>
            <div *ngIf="intervention.confirmed">Confirmé</div>
            <div *ngIf="!intervention.confirmed">
              En attente de confirmation
              <button
                class="btn"
                role="button"
                (click)="confirmIntervention(intervention.id)"
              >
                <ng-icon name="heroCheck"></ng-icon>

              </button>
            </div>
          </td>
          <td>
            <button class="btn" [routerLink]="['/', 'detail', intervention.id]">
              Voir détails
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div>
  <h1>Actes médicaux passé</h1>
  <div class="table-wrapper">
    <table class="fl-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Lieu</th>
          <th>Nature de la prestation</th>
          <th>Etat</th>
          <th>Détails</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let intervention of passedInterventions">
          <th>{{ intervention.date | date : "dd/MM/yyyy" }}</th>
          <td>{{ intervention.hospital.address }}</td>
          <td>{{ intervention.invoice.intervention.title }}</td>
          <td>
            <div *ngIf="intervention.invoice.paid">Aquitté</div>
            <div *ngIf="!intervention.invoice.paid">
              En attente de paiement
              <button
                class="btn"
                role="button"
                (click)="payIntervention(intervention.id)"
              >
                <ng-icon name="heroCreditCard"></ng-icon>

              </button>
            </div>
          </td>
          <td>
            <button class="btn" [routerLink]="['/', 'detail']">
              Voir détails
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
