footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.75rem 0;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #12557E;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #FFFFFF;
}

footer i {
  font-style: italic;
  margin-left: 4px;
}
