footer {
  background-color: #5fc6c6;
  color: #fff;
  font-size: small;
  padding: 10px;
  font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ddd;
}

footer i {
  font-style: italic;
  margin-left: 4px;
}
