<app-header></app-header>
<div class="detail">
    <a href="#">Retour à la page d'accueil</a>
    <div class="detail-table">
        <div class="dt-header">
            <div class="dth-dps">
                <div class="dt-date">24/10/2023</div>
                <div class="dt-place">Eckbolsheim</div>
                <div class="dt-status-meeting">Confirmé</div>
            </div>
            <div class="dt-medic">Dr. HOUSE Gregory</div>
            <div class="dt-status-payment">Attente de paiement</div>
        </div>
        <div class="dt-content">
            <div class="dt-title">Prise des métriques en vue d'une G.Y.E exagène</div>
            <div class="dt-details">
                <div class="dt-item">
                    <div class="dti-title">Prise de tension</div>
                    <div class="dti-desc">Petite souflette en V5 par isionique 3</div>
                </div>
                <div class="dt-item">
                    <div class="dti-title">Écoute du coeur</div>
                    <div class="dti-desc">Logique dépacite, rotation par fluidification</div>
                </div>
            </div>
        </div>
        <div class="dt-footer">
            <div class="dt-payment">
                <div class="dt-price"><strong>Prestation</strong><br />100,00€</div>
                <div class="dt-reduce"><strong>Part S. S.</strong><br />-95,00€</div>
                <div class="dt-left"><strong>Reste à charge</strong><br />5,00€</div>
            </div>
            <button class="btn-pay">Régler maintenant</button>
        </div>
    </div>
</div>