<div class="detail">
  <a [routerLink]="['/', 'landing']">Retour à la page d'accueil</a>
  <div class="detail-table">
    <div class="dt-header">
      <div class="dth-dps">
        <div class="dt-date">{{ appointment.date | date : "dd/MM/yyyy" }}</div>
        <div class="dt-place">{{ appointment.hospital.address }}</div>
        <div *ngIf="appointment.confirmed" class="dt-status-meeting">Confirmé</div>
        <div *ngIf="!appointment.confirmed" class="dt-status-meeting">En attente de confirmation</div>
      </div>
      <div *ngIf="appointment.invoice.paid" class="dt-status-payment">Payé</div>
      <div *ngIf="!appointment.invoice.paid" class="dt-status-payment">En attente de paiement</div>
    </div>
    <div class="dt-content">
      <div class="dt-title">{{ appointment.invoice.intervention.title }}</div>
      <div class="dt-details">
        <div class="dt-item">
          <div class="dti-title">{{ appointment.interventionComments }}</div>
        </div>
      </div>
    </div>
    <div class="dt-footer">
      <div class="dt-payment">
        <div class="dt-price"><strong>Prestation</strong><br />{{appointment.invoice.intervention.totalPrice}}€</div>
        <div class="dt-reduce"><strong>Part S. S.</strong><br />-{{appointment.invoice.mutAmount}}€</div>
        <div class="dt-left"><strong>Reste à charge</strong><br />{{appointment.invoice.intervention.totalPrice - appointment.invoice.mutAmount}}€</div>
      </div>
      <button class="btn-pay" *ngIf="!appointment.invoice.paid && appointment.confirmed" (click)="confirmIntervention()">Régler maintenant</button>
      <button class="btn-pay" *ngIf="!appointment.confirmed" (click)="payIntervention()">Confirmer le rendez-vous</button>

    </div>
  </div>
</div>
