// Vars
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

// Mixins
@mixin bkp($breakpoint) {
  @media only screen and (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}


.detail {
    background: #60C7C7;
    background: linear-gradient(225deg, #60C7C7, #FAB4FF);
    min-height: calc(100vh - 128px - 96px - 39.5px);
    padding: 3rem 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #12557E;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    @include bkp(sm) {
        padding-bottom: 5rem;
    }
    .detail-table {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #FFFFFF;
        border-radius: 5px;
        font-size: small;
        .dt-header, .dt-content, .dt-footer {
            padding: 1rem;
        }
        .dt-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: #62c5c734;
            gap: 1rem;
            @include bkp(sm) {
                flex-direction: column-reverse;
            }
            .dt-sub-header {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                @include bkp(sm) {
                    flex-wrap: wrap;
                    justify-content: space-between;
                    gap: 0.25rem;
                }
            }
            a {
                color: #12557E;
                align-self: center;
            }
        }
        .dt-content {
            padding-left: 3rem;
            background-color: #62c5c71b;
            .dt-content-item {
                .dt-title {
                    font-size: medium;
                }
                .dt-details {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    margin: 0.5rem;
                }
            }
        }
        .dt-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            background-color: #62c5c70e;
            @include bkp(sm) {
                flex-direction: column;
            }
            .dt-payment {
                border: 1px solid #12557E;
                background-color: #FFFFFF;
                padding: 0.5rem;
                div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    strong {
                        min-width: 116px;
                    }
                }
            }
            .btn-pay {
                padding: 0.5rem 1rem;
                border: 1px solid #12557E;
                background-color: rgba(18, 85, 126, 0.145);
                color: #12557E;
                &:hover {
                    border: 1px solid #60C7C7;
                    background-color: #FFFFFF;
                    color: #60C7C7;
                    cursor: pointer;
                }
              }
        }
    }
}