<h1>Inscription</h1>

<p>Vous avez déjà un compte :</p>
<a [routerLink]="['/login']"> Connectez-vous </a>
<br />
<br />

<form novalidate [formGroup]="utilisateurForm" (ngSubmit)="onSubmit()">
  <label for="numero_secu">Numéro de Sécurité Sociale:</label>
  <input
    type="text"
    id="numero_secu"
    class="form-control"
    formControlName="numeroSecuriteSociale"
    required
  />

  <br />
  <br />

  <label for="mot_de_passe">Mot de Passe:</label>
  <input
    type="password"
    id="mot_de_passe"
    class="form-control"
    formControlName="password"
    required
  />

  <br />
  <br />

  <label for="nom">Nom:</label>
  <input
    type="text"
    id="nom"
    class="form-control"
    formControlName="nom"
    required
  />
  <br />
  <br />

  <label for="prenom">Prénom:</label>
  <input
    type="text"
    id="prenom"
    class="form-control"
    formControlName="prenom"
    required
  />
  <br />
  <br />
  <button type="submit">Soumettre</button>
</form>
