header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 10rem;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    color: rgb(59, 59, 59);

    .auth-container {
        border-radius: 5px;
        background-color: #c2c2c261;
        .auth-hello {
            padding: 1rem;
            margin: 0;
        }
        .auth-disconnect {
            display: none;
        }
        &:hover {
            .auth-disconnect {
                display: flex;
                .auth-disconnect-text {
                    display: flex;
                    justify-content: center;
                    padding: 1rem;
                    width: 100%;
                    border-radius: 0 0 5px 5px;
                    color: rgb(59, 59, 59);
                    text-decoration: none;
                    list-style: none;
                    &:hover {
                        color: black;
                        box-shadow: inset 0 0 3rem #c2c2c29c;
                    }   
                }
            }
        }
    }
}