// Vars
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

// Mixins
@mixin bkp($breakpoint) {
  @media only screen and (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  @include bkp(sm) {
    padding: 1rem 2rem;
  }
  img {
    height: 64px;
  }
  .auth-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    @include bkp(sm) {
      flex-direction: column-reverse;
      gap: 1rem;
    }
    .auth-hello {
      font-size: small;
      color: #12557E;
    }
    .auth-disconnect {
      padding: 0.5rem 1rem;
      border: 1px solid #60C7C7;
      background-color: #FFFFFF;
      color: #60C7C7;
      &:hover {
        border: 1px solid #12557E;
        background-color: rgba(18, 85, 126, 0.145);
        color: #12557E;
        cursor: pointer;
      }
    }
  }
}
