* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.form {
  width: 50rem;
  margin: 5rem auto;
  text-align: center;
  border-radius: 1.5rem;
  border: 1px solid #eee;
  box-shadow: 0 1rem 2rem 0.03rem rgba(0, 0, 0, 0.2);
  font-family: "Balsamiq Sans", cursive;

  &__heading {
    font-size: 2.6rem;
    padding: 5rem 0;
    color: #000000;
  }

  &__group {
    padding-bottom: 2rem;
    position: relative;
    display: flex;
    justify-content: center;

    p {
      color: #000; // Couleur du texte de paragraphe
    }

    a {
      color: #52cac4; // Vert foncé
      font-weight: bold;
      text-decoration: none; // Supprimer le soulignement par défaut

      &:hover {
        color: #439995; // Changer la couleur au survol
      }
    }
  }

  &__input {
    width: 30rem;
    color: #aaa;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    outline: none;
    text-align: center;
    font-size: 1.6rem;
    font-family: inherit;

    &:-webkit-autofill,
    &:-webkit-autofill:hover {
      -webkit-text-fill-color: #aaa !important;
      -webkit-box-shadow: 0 0 0 3rem white inset !important;
    }

    &::placeholder {
      color: #ccc;
    }

    &:not(:placeholder-shown) + .form__label {
      opacity: 1;
      color: #ddd;
      position: absolute;
      top: 42px;
      width: 100%;
      font-size: 20px;
    }
  }

  &__label {
    display: block;
    color: #ccc;
    transition: all 0.4s ease;
    opacity: 0;
    position: absolute;
    top: 2.8rem;
    width: 100%;
    font-size: 2.4rem;
  }
}

.btn {
  margin: 0 auto;
  margin-bottom: 1.8rem;
  border: none;
  color: #fff;
  font-family: inherit;
  font-size: 24px;
  position: relative;
  width: 15rem;

  display: flex;
  align-items: center;

  transition: all 0.3s ease-in;
}

.btn--large {
  border-radius: 25px;
  padding: 10px 35px 10px 40px;
}

.btn--color {
  background-color: #52cac4;
  color: white;

  &:hover {
    background-color: #4dafaa;

    .btn__icon {
      position: absolute;
      left: 12rem;
      opacity: 0;
      transition: all 0.5s ease-in;
    }
  }

  &:active {
    background-color: #2ecc71;
    outline: none;
  }
}

.fa-exclamation {
  color: rgb(166, 35, 35);
}

.alert {
  width: 35px;
  height: 35px;
  border: 2px solid rgb(166, 35, 35);
  border-radius: 20px;
}
